{% extends "modelo.html" %}
{% block conteudo %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Paulo Cesar</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Desenvolvedor</h6>
                    <p class="card-text">Aluno UNIESP Sistemas para internet</p>
                    <a href="https://github.com/cesarmedeiros710" class="card-link">Github</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Eduardo Cabral</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Desenvolvedor</h6>
                    <p class="card-text">Aluno UNIESP Sistemas para internet</p>
                    <a href="https://github.com/duducabral" class="card-link">Github</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Vitor Rodrigo</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Desenvolvedor</h6>
                    <p class="card-text">Aluno UNIESP Sistemas para internet</p>
                    <a href="https://github.com/vRodrigoDev" class="card-link">Github</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}